
footer {
    padding: 20px;
    font: 1.2em/1.6 Quicksand;
    font-weight: 600;
    font-optical-sizing: auto;
}

footer p {
text-align: left; 
font: 1.2em/1.6 Quicksand;
font-weight: 600;
font-optical-sizing: auto;
}