/** red = HIGH HIGH HIGH SPYWARE **/
.red {
	color: #ff0000;
}

/** orange = high spyware **/
.orange {
	color: #ff6100;
}

/** lime = no spyware **/
.lime {
	color: lime;
}
/** possible spyware **/
.yellow {
	color: yellow;
}
/** white = prob spyware **/
.white {
   color: white;
}